@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.body {
  font-family: "Montserrat", sans-serif;

  font-style: normal;
  font-weight: 600px;
  width: auto;
}
.left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.login-img {
  width: 500px;
  height: 650px;
}
.logo {
  width: auto;
  height: 80px;
}
.home-link {
  margin-left: 400px;
  text-decoration: none;
  margin-top: 20px !important;
  color: #1c1c1c;
  font-weight: bold;
}
.form-section {
  position: absolute;
  margin-top: 100px;
  margin-left: 250px;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 380px;
  border: none;
}
#input {
  border: 2px solid #bdc7e8;
  font-size: 13px;
  height: 48px;
  border-radius: 5px;
  padding-left: 13px;
  margin-bottom: 20px;
}
#input:focus {
  color: #495057;
  background-color: #fff;
  border-color: blue;
  outline: 0;
  box-shadow: none;
}
#forgot-password {
  color: #2ce4b4;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 70px;
}
.login-btn {
  height: 46px;
  font-size: 14px;
  background-color: #1a46de;
  background-image: linear-gradient(160deg, #1a46de 0%, #2ce4b4 100%);
  border-radius: 3px;
  border: none;
  margin-bottom: 20px;
  color: #fff;
}
.welcome {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left-title {
  color: #1a46de;
}
.right-title {
  color: #495057;
}
.sign-in {
  color: #1a46de;
}
.icons {
  display: flex;
  justify-content: space-between;
}
#icon {
  border: 1px solid #bdc7e8;
  width: 40px;
  padding: 5px;
}
.nav {
  width: 70%;
}
/**************Media Query ***************/
@media screen and (max-width: 768px) {
  .container {
    overflow-x: hidden !important;
  }
  .login-img {
    display: none;
  }
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    border: none;
    margin-left: 120px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    overflow-x: hidden !important;
  }
  .left-section {
    margin-left: 0;
  }
  .form-section {
    margin-left: 0;
  }

  .left-section {
    position: absolute;
  }
  .login-img {
    display: none;
  }
  .home-link {
    margin-left: 0;
  }
  .container {
    padding: 15px;
  }
}
@media screen and (min-width: 540px) {
  .form {
    width: 320px !important;
    margin-left: px !important;
  }
}
@media screen and (max-width: 375px) {
  .form {
    width: 320px !important;
    margin-left: 20px !important;
  }
}
@media screen and (max-width: 320px) {
  .form {
    width: 320px !important;
    margin-left: -5px !important;
  }
}
@media screen and (min-width: 411px) {
  .form {
    width: 320px !important;
    margin-left: 10px !important;
    margin-right: 20px;
  }
}
